# Dependencies
node_modules

# Build outputs
dist
.vite

# Env files

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# Editor metadata
.DS_Store
.idea
.vscode/
config.bat
